.skills {
  padding: 2rem 0;
}

@media (min-width: 768px) {
  .skills {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.section-title {
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill-card {
  background-color: #34495e;
  border-radius: 10px;
  width: 150px;
  margin: 1rem;
  text-align: center;
  transition: all 0.3s ease;
  height: 200px;
}

.skill-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.skill-card-icon {
  padding: 15px;
  max-height: 100%;
  max-width: 100%;
}

.skill-footer {
  color: #fff;
  padding: 1rem;
  font-weight: bold;
}
